<script>
 function circum(x,r) {
  return (num) => x*Math.PI * r.toFixed(2);
}

const clamp = circum(2,3);
console.log(clamp(2))
</script>
<p> The circumference of a sphere with radius 3m is {clamp(2)}</p>